body {
    background-color: #000000;
}

#answer_text {
    color: #ffffff;
    font-size: 20vh;
}

#question_text {
    font-size: 2vh;
    margin-bottom: 20px;
}

main {
    font-family: 'Anton', sans-serif;
    background-color: #000000;
    color: #ffffff;

    text-align: center;
    
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
}
