body {
    background-color: #000000;
}

#answer_text {
    color: #ffffff;
}

@media (max-width: 100vh){
    #answer_text {
	font-size: 20vw;
    }
    #question_text {
	font-size: 2vw;
	margin-bottom: 20px;
    }
}

@media (min-width: 100vh) {
    #answer_text {
	font-size: 25vh;
    }
    #question_text {
	font-size: 2vh;
	margin-bottom: 20px;
    }
}

main {
    font-family: 'Anton', sans-serif;
    background-color: #000000;
    color: #ffffff;

    text-align: center;

    margin: 40vh auto 0 auto;
}
